body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  margin-bottom: 1em;
}

a {
  color: #00B7FF;
}

input {
	border: 2px solid blue;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 3px;
    width: 70%
}

#profile_name {
	color: blue;
	font: 18px "Lucida Grande";
	font-weight: bold;
}

#user_id {
	color: green;
}

.error {
	color: red;
	margin: 5px;
}

table {
  border: 1px solid;
}

table {
  width: 80%;
}

td, th {
  padding-top: 7px;
  padding-bottom: 7px;
}

tr:nth-child(even) {
  background: #CCC
}
tr:nth-child(odd) {
  background: #FFF
}

.error {
  color: red;
}

.message {
  color: green;
}

.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('star_full.png') no-repeat;
}
.ratings_over {
    background: url('star_highlight.png') no-repeat;
}