header.navbar.navbar-light.bg-faded.navbar-toggleable-md
  //- Button will appear for small screen size
  button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarCollapse')
    span.navbar-toggler-icon

  a.navbar-brand(href='/')
    img(src='/images/logo.svg')
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class= title=='Items For Sale' ? 'active' : '')
        a.nav-link(href='/items') Directory
      li.nav-item(class= title=='Categories' ? 'active' : '')
        a.nav-link(href='/categories') Categories
      //- li.nav-item.dropdown
      //-   a.nav-link.dropdown-toggle(id='dropdownHOME',href='/categories', data-toggle='dropdown', aria-haspopup='false', aria-expanded='false') Categories
      //-   div.dropdown-menu(aria-labelledby='dropdownHOME')
      //-     each cat in catListForHome
      //-       a.dropdown-item(href='/categories/'+cat._id) #{cat.name}
      li.nav-item(class= title=='Chat' ? 'active' : '')
        a.nav-link(href="/chat/") Chat
    ul.navbar-nav
      li.nav-item
        form.form-inline(method='GET' action='/items/search')
          div.input-group
            input.form-control(type='text' placeholder='Search' name='keyword' value=(keyword===undefined ? '' : keyword) required='true')
            span.input-group-btn
              button.btn.btn-secondary(type='submit')
                i.fa.fa-search(aria-hidden='true')

      if login
        li.nav-item(class= title=='Profile' ? 'active' : '')
          a.nav-link(href='/profile') Profile


        li.nav-item(class= title=='wishlist' ? 'active' : '')
          a.nav-link(href='/wishlist') My Wishlist
        li.nav-item(class= title=='List of Past Transactions' ? 'active' : '')
            a.nav-link(href='/transactions') Transactions
        li.nav-item
          a.nav-link(href='/logout') Log Out
      else
        li.nav-item(class= title=='Sign Up' ? 'active' : '')
          a.nav-link(href='/signup') Sign up
        li.nav-item(class= title=='Log In' ? 'active' : '')
          a.nav-link(href='/login') Login
