extends layout

block content
  h3= title
  a.btn.btn-secondary.btn-sm.float-right(href='/categories/'+category._id+'/update' role='button') Edit Category
  
  ul
  each item in item_list
    li 
      a(href=item.url) #{item.name}
      |  by #{item.seller}
  else
    li No items
