extends layout
block content
  ul#messages
  span#notifyUser
  form#form(action='', onsubmit='return submitfunction();')
    input#user(type='hidden', value='')
    input#m(autocomplete='off', onkeyup='notifyTyping();', placeholder='Type your message here...')
    input#button(type='submit', value='Send')
