extends layout
block content
    #chat.span5.offset2
      form#2.form-inline
        input#msg.input(type='text', placeholder='Your message')
        input#send.btn.btn-success(type='button', name='send', value='Send')
