extends layout

block content
  form(method = 'POST' action = '/contact/send')
    input(type='hidden', name='_csrf', value=_csrf)
    div.form-group
      label Name
      input.form-control(type='text',name='name', placeholder='Name', required='true')
    div.form-group
      label Email
      input.form-control(type='email',name='email', placeholder='Email', required='true')
    div.form-group
      label Message
      textarea.form-control(name='message',placeholder='message', required='true')
    br
    button.btn.btn-primary(type='submit') Send
    br
    br
  .error #{message}
