nav.navbar.navbar-light.bg-faded.navbar-toggleable-md
  //- Button will appear for small screen size
  button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarCollapse')
    span.navbar-toggler-icon

  a.navbar-brand(href='/') Home
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/items') Directory
      li.nav-item
        a.nav-link(href='/categories') Categories
      li.nav-item
        a.nav-link(href="http://localhost:9001") Chat
      li.nav-item
        a.nav-link.mr-5(href='#') Forums      
    ul.navbar-nav
      li.nav-item
        form.form-inline(method='GET' action='/items/search')
          div.input-group
            input.form-control(type='text' placeholder='Search' name='keyword' value=(keyword===undefined ? '' : keyword) required='true')
            span.input-group-btn
              button.btn.btn-secondary(type='submit')
                i.fa.fa-search(aria-hidden='true')
    
      if login
        li.nav-item
        a.nav-link(href='/profile') Profile


        li.nav-item
          a.nav-link(href='/wishlist') My Wishlist
        li.nav-item
          a.nav-link(href='/') Log Out
      else
        li.nav-item
          a.nav-link(href='/signup') Sign up
        li.nav-item
          a.nav-link(href='/login') Login
