extends layout
block content
  br
  div.container
    h1.center-text SFU Trade Center
    p Welcome to our shopping site

    div.carouselframe
      div#myCarousel.carousel.slide(data-ride='carousel')
        div.carousel-outer
          p.dailyDeals Daily Deals 
          a.seeItemDetail(href='/items') See All
        ol.carousel-indicators
          li(data-target='#myCarousel', data-slide-to='0', class='active')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')

        div.carousel-inner(role='listbox')
          div.carousel-item
            img.d-block.img-fluid(src='uploads/toTheBone.jpg', alt='First slide')
            div.carousel-caption.d-none.d-md-block
              h2 To The Bone now only for $10!
          div.carousel-item
            img.d-block.img-fluid(src='uploads/GoPro.jpg', alt='Second slide')
            div.carousel-caption.d-none.d-md-block
              h2 Good price for Go Pro
          div.carousel-item.active
            img.d-block.img-fluid(src='uploads/TheWar.jpg', alt='Third slide')
            div.carousel-caption.d-none.d-md-block
              h2 EXO KoKoBop is Coming!

        a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
            i.fa.fa-chevron-left(aria-hidden='true') 
        a.carousel-control-next(href='#myCarousel', role='button',data-slide='next')
            i.fa.fa-chevron-right(aria-hidden='true')

    p Item's Near You:
    p Somewhere in Austrialia.... Dingo ate my baby!
    #map
    script.
      function initMap() {
      var uluru = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
      });
      var marker = new google.maps.Marker({
      position: uluru,
      map: map
      });
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAgZUN--NvPNLqcKGh2w1zLbh0butq7Y1w&callback=initMap')
