extends layout

block content
	.error #{message}
	.form
		form.login-form(method = 'POST' action = '/login')
			//div.form-group
			//	lable(for = 'email') Email:
			div.form-group
				input#name.form-control(type = 'email', placeholder = 'name@email.com' name = 'email')
			//div.form-group
			//	lable(for = 'pw') Password:
			div.form-group
				input#pw.form-control(type = 'password', placeholder='password' name = 'password')
			button.btn.btn-primary(type='submit') Login
            br
            br
            form.signup.signup-form.span4(action="/users/session", method="post")
                img(src="/images/facebook.png")
                a.btn-social.btn-dblue.btn-primary(href="/auth/facebook") Login with Facebook
                br
                img(src="/images/github.png")
                a.btn-social.btn-dblue.btn-secondary(href="/auth/github") Login with GitHub
