extends layout

block content
	form(method = 'POST' action = '/signup')

		div.form-group
			label(for='fname') First Name:
		div.form-group
			input#name.form-control(type='text', placeholder='First Name' name='fname')

		div.form-group
			label(for='lname') Last Name:
		div.form-group.input
			input#name.form-control(type='text', placeholder='Last Name' name='lname')

		div.form-group
			label(for = 'email') Email:
		div.form-group.input
			input#name.form-control(type = 'email', placeholder = 'name@email.com' name = 'email')

		div.form-group
			label(for = 'pw') Password:
		div.form-group
			input#pw.form-control(type = 'password' name = 'password')

		button.btn.btn-primary(type='submit') Sign up

		br
		br
		a.btn.btn-primary(href='/login' role='button') Login

	.error #{message}
